# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
.venv/
venv/
env/
.Python

# Node/Vue/Vite
node_modules/
dist/
*.log

# IDE/OS
.idea/
frontend/.vscode/
.DS_Store

# App data
storages/


# Local config
.env.development
.env.production

reference/
openapi_endpoints
list_openapi_endpoints.py

the_*.json

test_output.png
count_loc.py
*.ttf