fastapi
uvicorn[standard]
python-socketio
SQLAlchemy
pydantic
python-multipart
passlib[bcrypt]
python-jose[cryptography]
requests
httpx
loguru
PyYAML
ruamel.yaml
tomli
tomli-w
psutil
nbtlib
cachetools
packaging
argon2-cffi
async-cache